%h1 Listing competitions

%table
  %tr
    %th Name
    %th Description
    %th Date start
    %th Date end
    %th Status
    %th Format
    %th
    %th
    %th

  - @competitions.each do |competition|
    %tr
      %td= competition.name
      %td= competition.description
      %td= competition.date_start
      %td= competition.date_end
      %td= competition.status
      %td= competition.format
      %td= link_to 'Show', competition
      %td= link_to 'Edit', edit_competition_path(competition)
      %td= link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Competition', new_competition_path
