= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :date_start
    = f.date_select :date_start
  .field
    = f.label :date_end
    = f.date_select :date_end
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :location_coordinates
    = f.text_field :location_coordinates
  .actions
    = f.submit 'Save'
