%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Date start:
  = @event.date_start
%p
  %b Date end:
  = @event.date_end
%p
  %b Location:
  = @event.location
%p
  %b Location coordinates:
  = @event.location_coordinates
  
%table
  %tr
    %th Name
    %th Content
  - @event.pages.each do |page|
    %tr
      %td= page.name
      %td= page.content

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
