%h1 Listing pages

%table
  %tr
    %th Name
    %th Content
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.name
      %td= page.content
      %td= link_to 'Show', event_page_path(@event, page)
      %td= link_to 'Edit', edit_event_page_path(@event, page)
      %td= link_to 'Destroy', event_page_path(@event, page), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_event_page_path(@event)
